.prescriptContainer {
  margin: 0px 2px;
  margin-top: 15px;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.prescriptContainer h4 {
  font-family: "Righteous";
  letter-spacing: 1px;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoContainer p b {
  font-weight: 500;
  text-transform: uppercase;
}

.trashContainer {
  position: absolute;
  top: 8px;
  right: 12px;
}

.trashContainer i {
  color: var(--color-red);
  cursor: pointer;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.btnContainer div {
  padding: 8px 12px;
  background: var(--color-green);
  color: var(--color-white);
  font-family: "Poppins";
  width: 100%;
  margin: 0px 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.08);
}

.btnContainer div:nth-child(2) {
  background: var(--color-red);
}
