
.footerContainer{
    padding:20px 35px;
    border-radius: 8px;
    margin:10px;
    font-family: "Poppins";
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
}

.usefullinksContainer{
    color:var(--color-white);
    font-size: 16px;
    text-align: center;
}

.usefullinksContainer p{
    cursor: pointer;
}


.logoContainer{
    text-transform: uppercase;
    font-family: "Righteous";
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--color-white);
}


.logoContainer i{
    font-size: 20px;
    margin-right: 5px;
}

.logoContainer span:nth-child(1){
    color: var(--color-blue);
}


.contactContainer{
    color:var(--color-white);
}

.contactContainer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    margin:10px;
}

.contactContainer div i{
    cursor: pointer;
}