.navContainer {
  padding: 10px 25px;
  border-radius: 8px;
  margin: 10px;
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  text-transform: uppercase;
  font-family: "Righteous";
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer i {
  font-size: 20px;
  margin-right: 5px;
}

.logoContainer span:nth-child(1) {
  color: var(--color-blue);
}

.ulContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulContainer h2 {
  font-size: 16px;
  margin: 0px 12px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  font-weight: 600;
}

.ulContainer h2 a {
  text-decoration: none;
  color: var(--color-black);
}

.ulContainer h2:hover {
  opacity: 1;
}

.getStartedBtn {
  width: 180px;
  height: 50px;
  background: rgba(53, 114, 239, 0.25);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-blue);
  font-size: 10px;
  cursor: pointer;
  box-shadow: 0px 6px 0px 0px var(--color-black);
}

.getStartedBtn i {
  margin-left: 10px;
  font-size: 20px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 750px) {
  .ulContainer {
    display: none;
  }

  .getStartedBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    border-radius: 5px;
  }

  .getStartedBtn i {
    color: var(--color-blue);
    margin: auto auto;
  }

  .getStartedBtn h1 {
    display: none;
  }

  .logoContainer {
    margin: 25px 0;
  }
}
