:root {
  --color-blue-navy: #050c9c;
  --color-blue: rgb(53, 114, 239);
  --color-blue-light: #7dd3fc;
  --color-blue-sky: #a7e6ff;
  --color-white: #fff;
  --color-green: #22c55e;
  --color-green-blue: #7cf5ff;
  --color-cyan: #00ccdd;
  --color-mid-blue: #4f75ff;
  --color-purple: #6439ff;
  --color-black: #000;
  --color-gray: #f3f4f6;
  --color-teal-dark: #14b8a6;
  --color-teal-light: #f0fdfa;
  --color-blue-light-sky: #f0f9ff;
}

* {
  padding: 0;
  margin: 0;
}

.swiper-pagination {
  position: relative !important;
  margin-top: -10px;
}

.swiper-pagination:nth-child(2) {
  margin-top: -15px;
}

#dynamic-widget {
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}
